.greetingForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Montserrat, sans-serif;
}

.inputAndButtonContainer {
    display: flex;


}

.error {
}

.input {
    flex: 1;
    width: 370px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 3px rgba(74, 144, 226, 0.5);
}

.errorInput {
    border-color: red;

}

.button {
    background-color: blue;
    color: white;
    padding: 8px 24px;
    border-radius: 3px;
    margin-left: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(74, 144, 226, 0.7);
}

.button:active {
    background-color: #357ABD;
}

.button:disabled {
    background-color: #a0c4ff;
    cursor: not-allowed;
}

.text {
    font-size: 14px;
    color: #333;
}

.greeting {
    font-size: 16px;
    color: #333;
    margin-top: 8px;
}

