.button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.disabled {
    background-color: #004d99;
    color: #888;
    opacity: 0.5;
    cursor: not-allowed;
}

.secondary {
    background-color: #fff;
    color: #06c;
    border: 1px solid #06c;
}

.default {
    background-color: #06c;
    color: #fff;
}

.red {
    background-color: #ff4d4f;
    color: white;

}

.default:hover {
    background-color: #d5d5d5;
}

.red:hover {
    background-color: #ff6666;
}

.secondary:hover {
    background-color: #e6e6e6;
}


.default:active {
}

.secondary:active {
    background-color: #d9d9d9;
}

.red:active {
    background-color: #ff1a1a;
}

.button:disabled {
    cursor: not-allowed;
}
